Input{font-size:9pt;font-family:tahoma;background-color:#EDF3FC;border:1px groove #5386B9}
textarea{font-size:9pt;font-family:tahoma;background-color:#EDF3FC;border:1px groove #5386B9}
select{font-size:9pt;font-family:tahoma}
table{font-size:9pt;font-family:tahoma}
p{font-size:8pt;font-family:tahoma}
div{font-size:8pt;font-family:tahoma}
span{font-size:8pt;font-family:tahoma;}
a{font-size:8pt;font-family:tahoma}
asp:dropdown{font-size:9pt;font-family:tahoma;background-color:#EDF3FC;border:1px groove #5386B9}