 ul, li {
	font-size:10px; 
	font-family:tahoma;
	line-height:21px;
	text-align:right ;
}

#menu 
{
	font-family:tahoma;
	list-style:none;
	width:960px;
	margin:0px auto 0px auto;
	height:45px;
	
text-align:right ;
	/* Rounded Corners */
	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;

	/* Background color and gradients */
	
	background: #1E5284;
	background: -moz-linear-gradient(top, #1E5284, #1E5284);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1E5284), to(#1E5284));
	
	/* Borders */
	
	border: 0px solid #002232;

}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 10px 0px 11px 10px;
	margin-right:0px;
	
	margin-bottom :0px;
	border-left :0px groove #97D1DE;
}

#menu li:hover {
	border: 0px solid #777777;
	padding: 10px 0px 11px 10px; 
	margin-bottom :0px;
	/* Background color and gradients */
	margin-right:0px;
	background: #ECF3FD;
	
	
	/* Rounded corners */
	
	
}

#menu li a {
	font-family:tahoma;
	font-size:10px; 
	color: #ffffff;
	display:block;
	outline:0;
	text-decoration:none;
	
}

#menu li:hover a {
	color:#1E5284;
	
}
#menu li .drop {
	padding-right:21px;
	
}
#menu li:hover .drop {
	padding-right:21px;
	
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:10px 0px;
	float:right ;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:right ;
	padding: 10px 11px 11px 10px; 
	border:0px solid #777777;
	border-top:none;
	
	/* Gradient background */
	background:#ECF3FD;
	text-align :right ;

	/* Rounded Corners */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: right ;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:tahoma;
	line-height:21px;
	font-size:10px;
	text-align:right ;
	
}
#menu h2 {
	font-size:10px;
	font-weight:500;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#ffffff;
}
#menu li:hover div a:hover {
	color:#ffffff;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	
	
	
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#1E5284;
	color: #ffffff;
	
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
